<a href="https://colab.research.google.com/github/EVOMJ/pandas.py/blob/main/Conhe%C3%A7a_o_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from numpy import info   #PANDAS 02/12
import pandas as pd

dados = pd.read_csv("/content/empresa.csv")
df = pd.DataFrame(dados)
#df
#1.df.head(10) # mostra  as primeiras linhas e a quantidade (???)
#2.df.tail(15) # mostra as utlimas linhas
#3.df.columns mostra as colunas da tabela
#4.df.info() informaçao da tabela
#5.df.describe()
#6.df[df['nome'] == 'Carlos'] # quando quero uma coluna expecifica so com nome da pessoa
#7.df[df['setor'] == 'TI']
#8.df[df['salario'] >4000]
#9.#df[['nome', 'salario']]
#10.df.sort_values(by='salario ', ascending=True) # True = cresente
#11.df.sort_values(by='salario', ascending=False) # false = decresente
#12.df.groupby('setor').size()  # Agrupa por 'setor' e conta o número de registros em cada grupo.
#13.df.sort_values("salario").min()
#14.df.sort_values("salario").max()
#15.df.sort_values("salario").min()
#16.df[df['tempo_empresa_anos'] >= 3]
#17.df[df['cidade']== 'São Paulo']
#18.df.groupby('setor')['tempo_empresa_anos'].mean()
#19.df[df["nome"].str.contains("j", case=False)]  Filtra linhas onde "nome" contém "j" (ignorando maiúsculas)
#20.df['cidade'].value_counts()
#21.df['bonus'] & df['salario'] * 0.10

In [ ]:
from numpy import info   #PANDAS 03/12
import pandas as pd

dados = pd.read_csv("/content/dados_funcionarios - dados_funcionarios.csv")
df = pd.DataFrame(dados)
# df
# df.head(10)  # mostra as 10 primeiras linhas
# df.tail(5)  # mostra as 5 últimas linhas

# df.columns  # exibe o nome das colunas
# df.info()  # mostra as informações do DataFrame

# df.select_dtypes(include='number')  # exibe apenas colunas numéricas

# df[["Nome", "Setor", "Salario"]]  # mostra Nome, Setor e Salário

# df.sort_values(by="Salario", ascending=False)  # ordena salário do maior para menor

# df[df["Setor"] == "TI"]  # filtra somente setor TI

# df[df["Salario"] > 6000]  # filtra salários acima de 6000

# df["Setor"].value_counts()  # conta funcionários por setor

# df.groupby("Setor")["Salario"].mean()  # salário médio por setor

# df["Salario"].max()  # maior salário da empresa
# df["Salario"].min()  # menor salário da empresa

# df[df["Avaliacao"] >= 9]  # avaliação maior ou igual a 9

# df[df["AnosEmpresa"] > 5]  # funcionários com mais de 5 anos de empresa

# df["Categoria"] = df["Salario"].apply(lambda x: "Alto" if x >= 6000 else "Normal")  # cria coluna Categoria

# df[df["Categoria"] == "Alto"]  # mostra apenas categoria Alto

# df.groupby("Setor")["Avaliacao"].mean()  # média da avaliação por setor

# df.groupby("Setor")["Salario"].sum()  # salário total gasto por setor

# df.loc[df["AnosEmpresa"].idxmax()]  # funcionário com maior tempo de empresa

# df[df["Nome"].str.startswith("A")]  # nome começa com A

# df[df["Nome"].str.endswith("A")]  # nome termina com A

# df[df["Avaliacao"].between(7, 9)]  # avaliação entre 7 e 9

# df.sort_values(by="AnosEmpresa")  # ordena por tempo de empresa (crescente)

# df[df["Salario"].between(5000, 6000)]  # salário entre 5000 e 6000

# df["Nome"] = df["Nome"].str.upper()  # transforma nome em letras maiúsculas

# df["Salario"].drop_duplicates()  # salários sem duplicados

df.sort_values(by=["Setor", "Salario"])  # ordena por setor e depois salário (crescente)

# df[df["Setor"].str.startswith("M")].shape[0]  # total de funcionários cujo setor começa com M

# df[df["Setor"] == "RH"]["Avaliação"].sum()  # soma das avaliações do setor RH

,Nome,Setor,Salario,Avaliação,Tempo_Empresa,Cidade,Cargo,Bonus,Home_Office,Projetos_Concluidos
44,Fabiana 89,Diretoria,3113,9,16,Curitiba,Assistente,676,Não,1
38,Leandro 441,Diretoria,3191,8,4,Rio de Janeiro,Assistente,721,Não,21
17,William 391,Diretoria,4755,9,1,Porto Alegre,Analista,2944,Sim,25
12,William 59,Diretoria,4759,9,18,Rio de Janeiro,Gerente,578,Sim,38
18,Zeca 66,Diretoria,5159,7,12,Curitiba,Estagiário,907,Sim,32
...,...,...,...,...,...,...,...,...,...,...
13,Joana 494,Vendas,8353,7,3,Rio de Janeiro,Gerente,2888,Não,48
57,Julio 531,Vendas,8880,9,2,Salvador,Diretor,1073,Sim,22
123,Vera 402,Vendas,12839,7,1,São Paulo,Estagiário,2635,Não,44
23,Quésia 971,Vendas,12952,8,14,Rio de Janeiro,Analista,2,Sim,44
41,Caio 482,Vendas,14668,8,7,Belo Horizonte,Coordenador,2351,Sim,7